#screen-wrapper .background-container {
  background: rgb(226, 178, 178);
  display: flex;
  /* flex-grow: 1; */
}

.background-container > img {
  height: 100%;
  width: 100%;
}

@media (max-width: 995px) {
  #screen-wrapper .background-container {
    width: 50%;
  }
}

@media (max-width: 720px) {
  #screen-wrapper .background-container {
    /* display: none; */
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
  }
}


