#screen-wrapper .authentification-container {
  /* background: rgb(179, 179, 233); */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin: auto; */
  flex-grow: 1;
}

.mls-wrapper {
  /* background-color: wheat; */
  display: flex;
  flex-direction: column;
  width: 25em;
}

.mls-message-error p {
  font-weight: 200;
  color: rgb(253, 91, 91);
  text-align: center;

}

/********* INPUT STYLE *************/

.login-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.login-section .bp3-input-group {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}

.login-section i {
  color: #dadbdc;
  background-color: white;
  border: 1px solid #dadbdc;
  padding: 10px;
  border-radius: 3px 0 0 3px;
  border-right: none;
}

.login-section .bp3-input-group.bp3-large .bp3-input:not(:first-child) {
  padding-left: 20px;
}

.login-section input {
  border-radius: 0 3px 3px 0;
  padding: 25px;
  color: #bdbdbd;
}

/********** BUTTONS and LINK STYLE ***********/

.buttons-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 12px;
}

.buttons-section .bp3-control {
  margin: 0;
  color: #aeb7bf;
}

.buttons-section .mls-login-button {
  padding: 12px;
  background: #4786FF;
  border-radius: 6px;
  color: white;
  outline: none;
  border: none;
  cursor: pointer;
  transition: background-color .3s;
}

.buttons-section .mls-login-button:hover {
  background: rgb(42, 92, 184);
}

.buttons-section > a {
  text-decoration: none;
  color: #dadbdc;
  cursor: pointer;
  font-size: 14px;
  font-weight: 100;
  transition: background-color .3s;
}

.buttons-section > a:hover {
  color: #4786FF;
}

/*********** LINKS STYLE ****************/
.register-reset-section {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.register-reset-section a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 100;
}

.register-reset-section a:nth-child(1) {
  color: #4786FF;
  transition: color .3s;
}

.register-reset-section a:nth-child(1):hover {
  color: #aeb7bf;
}

.register-reset-section a:nth-child(2) {
  color: #aeb7bf;
  transition: color .3s;
}

.register-reset-section a:nth-child(2):hover {
 color: #4786FF;
}

/************* SEPARATOR STYLE **************/

.mls-separator {
  border: 0;
  height: 1px;
  width: 100%;
  margin: 0 auto 30px;
  background: #dadbdc;
  display: flex;
  justify-content: center;
}

.mls-separator::after {
  display: block;
  content: 'OR';
  font-size: 12px;
  color: #aeafb1;
  text-align: center;
  margin-top: -5px;
  background: white;
  width: 100px;
}

/********** SOCIAL BUTTONS STYLE  *****************/

.authentification-container .auth-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
/*
.authentification-container .auth-section .button {
  outline: none;
}

.authentification-container .auth-section .fb-button,
.authentification-container .auth-section .twitter-button,
.authentification-container .auth-section .google-button {
  display: flex;
  margin-bottom: 10px;
}

.authentification-container .auth-section .button {
  padding: 15px;
  width: 22em;
  color: white;
  border-radius: 0 10px 10px 0;
  border: none;
  transition: all .3s;
  cursor: pointer;
}

.authentification-container .auth-section .bbbtn i {
  padding: 10px;
  border-radius: 10px 0 0 10px;
  color: white;
}

.authentification-container .auth-section .fb-button i {
  border: 1px solid #263C68;
  background-color: #263C68;
}

.authentification-container .auth-section .twitter-button i {
  border: 1px solid #0695CB;
  background-color: #0695CB;
}

.authentification-container .auth-section .google-button i {
  border: 1px solid #C53126;
  background-color: #C53126;
}


.authentification-container .auth-section .fb-button button {
  background-color: #3B5998;
}

.authentification-container .auth-section .fb-button button:hover {
  background-color: #263C68;
}
.authentification-container .auth-section .twitter-button button {
  background-color: #00ACED;
}

.authentification-container .auth-section .twitter-button button:hover {
  background-color: #0695CB;
}
.authentification-container .auth-section .google-button button {
  background-color: #F44336;
}

.authentification-container .auth-section .google-button button:hover {
  background-color: #C53126;
} 

@media (max-width: 777px) {
  .authentification-container .login-section .bp3-input-group {
    width: 20em;
  }

  .login-section .buttons-section .bp3-control {
    margin-right: 7em;
  }

  .login-section .register-reset-section a:nth-child(1) {
    margin-right: 6em;
  }

  .authentification-container .separator-section hr {
    width: 74px;
  }

  .authentification-container .auth-section button {
    padding: 20px;
    width: 17em;
  }
}

@media (max-width: 600px) {
  .authentification-container .login-section .bp3-input-group {
    width: 25em;
  }

  .login-section .buttons-section .bp3-control {
    margin-right: 12em;
  }

  .login-section .register-reset-section a:nth-child(1) {
    margin-right: 11em;
  }

  .authentification-container .separator-section hr {
    width: 108px;
  }

  .authentification-container .auth-section button {
    padding: 15px;
    width: 22em;
  }
}
*/

.mls-social-btn {
  border: 0;
  display: flex;
  align-items: center;
  width: 300px;
  background: #eee;
  color: white;
  border-radius: 3px;
  padding: 0;
  cursor: pointer;
  /* remove */
  margin-bottom: 10px;
  transition: background-color .3s;
  width: 100%;
}
.mls-social-btn:hover {
}
.mls-social-btn span {
  flex-grow: 1;
  text-align: center;
  font-size: 15px;
}
.mls-social-btn:hover span {}
.mls-social-btn i {
  padding: 10px 16px;
  background: rgba(0,0,0,.08);
}
.mls-social-btn:hover i {}

.mls-social-btn.facebook {
  background: #4975cc;
}
.mls-social-btn.twitter {
  background: #00ACED;
}
.mls-social-btn.gplus {
  background: #C53126;
}

@media (max-width: 885px) {
  .mls-wrapper {
    width: 23em;
  }
}

@media (max-width: 720px) {
  .mls-wrapper {
    width: 25em;
  }

  .mls-separator::after {
    background: #f9f5f3;
  }

  #screen-wrapper .authentification-container {
    width: 100%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, .1));
  }
}