#screen-wrapper .authentification-container {
  /* background: rgb(179, 179, 233); */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  /* margin: auto; */
  flex-grow: 1;
}

.authentification-container .login-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5px;
}

.authentification-container .login-section .email-input,
.authentification-container .login-section .password-input {
  display: flex;
  align-items: center;
  width: 25em;
}

.authentification-container .login-section .bp3-input:not(:first-child) {
  padding-left: 20px;
}

.authentification-container .login-section input {
  margin-bottom: 10px;
  border-radius: 0 3px 3px 0;
  padding: 25px;
  color: #bdbdbd;
}

/* .authentification-container .email-input > i {
  padding-right: 2px;
} */

.authentification-container .login-section i {
  color: #dadbdc;
  border: 1px solid #dadbdc;
  padding: 10px;
  border-radius: 3px 0 0 3px;
  align-self: flex-start;
  border-right: none;
}

.authentification-container .buttons-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}

.authentification-container .buttons-section .login-button {
  padding: 12px;
  background: #4786FF;
  border-radius: 6px;
  color: white;
  outline: none;
  border: none;
  transition: all .3s;
}

.authentification-container .buttons-section .login-button:hover {
  background: rgb(107, 157, 250);
}

.authentification-container .buttons-section .bp3-control {
  margin: 0;
  margin-right: 12em;
  color: #aeb7bf;
}

.authentification-container .register-reset-section {
  display: flex;
  justify-content: center;
}

.authentification-container .register-reset-section a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 100;
}

.authentification-container .register-reset-section a:nth-child(1) {
  color: #4786FF;
  margin-right: 11.5em;
  transition: all .3s;
}

.authentification-container .register-reset-section a:nth-child(1):hover {
  color: #aeb7bf;
}

.authentification-container .register-reset-section a:nth-child(2) {
  color: #aeb7bf;
  transition: all .3s;
}

.authentification-container .register-reset-section a:nth-child(2):hover {
 color: #4786FF;
}