#screen-wrapper .authentification-container {
  /* background: rgb(179, 179, 233); */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  /* margin: auto; */
  flex-grow: 1;
}

.authentification-container .login-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5px;
}
.authentification-container .login-section .bp3-input-group {
  display: flex;
  align-items: center;
  width: 25em;
}

.authentification-container .login-section .bp3-input:not(:first-child) {
  padding-left: 20px;
}

.authentification-container .login-section input {
  margin-bottom: 10px;
  border-radius: 0 3px 3px 0;
  padding: 25px;
  color: #bdbdbd;
}

/* .authentification-container .email-input > i {
  padding-right: 2px;
} */

.authentification-container .login-section i {
  color: #dadbdc;
  border: 1px solid #dadbdc;
  padding: 10px;
  border-radius: 3px 0 0 3px;
  align-self: flex-start;
  border-right: none;
}

.login-section .buttons-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.login-section .buttons-section > a {
  text-decoration: none;
  margin-right: 16em;
  color: #dadbdc;
  cursor: pointer;
  font-size: 14px;
  font-weight: 100;
  transition: all .3s;
}

.login-section .buttons-section > a:hover {
  color: #4786FF;
}

.login-section .buttons-section .login-button {
  padding: 12px;
  background: #4786FF;
  border-radius: 6px;
  color: white;
  outline: none;
  border: none;
  cursor: pointer;
  transition: all .3s;
}

.login-section .buttons-section .login-button:hover {
  background: rgb(42, 92, 184);
}

.login-section .buttons-section .bp3-control {
  margin: 0;
  margin-right: 12em;
  color: #aeb7bf;
}

.login-section .register-reset-section {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.login-section .register-reset-section a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 100;
}

.login-section .register-reset-section a:nth-child(1) {
  color: #4786FF;
  margin-right: 11em;
  transition: all .3s;
}

.login-section .register-reset-section a:nth-child(1):hover {
  color: #aeb7bf;
}

.login-section .register-reset-section a:nth-child(2) {
  color: #aeb7bf;
  transition: all .3s;
}

.login-section .register-reset-section a:nth-child(2):hover {
 color: #4786FF;
}

.authentification-container .separator-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.authentification-container .separator-section p {
  color: #dadbdc;
  margin: 0 55px;

}

.authentification-container .separator-section hr {
  height: 0;
  width: 108px;
  border: .5px solid #dadbdc;
  margin: 0;
}

.authentification-container .auth-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.authentification-container .auth-section button {
  outline: none;
}

.authentification-container .auth-section .fb-button,
.authentification-container .auth-section .twitter-button,
.authentification-container .auth-section .google-button {
  display: flex;
  margin-bottom: 10px;
}

.authentification-container .auth-section button {
  padding: 15px;
  width: 22em;
  color: white;
  border-radius: 0 10px 10px 0;
  border: none;
  transition: all .3s;
  cursor: pointer;
}

.authentification-container .auth-section i {
  padding: 10px;
  border-radius: 10px 0 0 10px;
  color: white;
}

.authentification-container .auth-section .fb-button i {
  border: 1px solid #263C68;
  background-color: #263C68;
}

.authentification-container .auth-section .twitter-button i {
  border: 1px solid #0695CB;
  background-color: #0695CB;
}

.authentification-container .auth-section .google-button i {
  border: 1px solid #C53126;
  background-color: #C53126;
}


.authentification-container .auth-section .fb-button button {
  background-color: #3B5998;
}

.authentification-container .auth-section .fb-button button:hover {
  background-color: #263C68;
}
.authentification-container .auth-section .twitter-button button {
  background-color: #00ACED;
}

.authentification-container .auth-section .twitter-button button:hover {
  background-color: #0695CB;
}
.authentification-container .auth-section .google-button button {
  background-color: #F44336;
}

.authentification-container .auth-section .google-button button:hover {
  background-color: #C53126;
}

@media (max-width: 777px) {
  .authentification-container .login-section .bp3-input-group {
    width: 20em;
  }

  .login-section .buttons-section .bp3-control {
    margin-right: 7em;
  }

  .login-section .register-reset-section a:nth-child(1) {
    margin-right: 6em;
  }

  .authentification-container .separator-section hr {
    width: 74px;
  }

  .authentification-container .auth-section button {
    padding: 20px;
    width: 17em;
  }
}

@media (max-width: 600px) {
  .authentification-container .login-section .bp3-input-group {
    width: 25em;
  }

  .login-section .buttons-section .bp3-control {
    margin-right: 12em;
  }

  .login-section .register-reset-section a:nth-child(1) {
    margin-right: 11em;
  }

  .authentification-container .separator-section hr {
    width: 108px;
  }

  .authentification-container .auth-section button {
    padding: 15px;
    width: 22em;
  }
}
