html,
body {
  width: 100%;
  min-height: 100%;
  display: flex;
  font-family: 'Lato', sans-serif;
}

#root,
#screen-wrapper {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}